.container {
  margin: 25px;
}
.primary {
    background-color: #134b47;
}

.btn-primary {
    color: #fff;
    background-color: #185e70;
    border-color: #185e70;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1b445e;
    border-color: #185e70;
}

.hidden {
    display: none;
    transition: all 0.5s;
}

.required {
    color: red;
}

section#ptable {
    display: table;
    width: 30%;
    margin-bottom: 2rem;
}
  
section#ptable > * {
    display: table-row;
}
  
section#ptable .col {
    display: table-cell;
}

section#ptable .qinput {
    width: 1.5rem;
}

.currency::before {
    content:"$";
}

.right-text {
  text-align: end;
}