:root {
    --primary-color: #16acc0;
    --primary-color-transparent: rgba(22, 172, 192, .7);
    --secondary-color: #18556e;
    --secondary-color-transparent: rgba(24, 85, 110, .7);
    --accent-color: #EED268;
    --accent-color-transparent: rgba(238, 210, 104, .7);
}

.one {
    color: white;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.container {
    margin: 25px;
}

.primary {
    background-color: var(--primary-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .25rem var(--secondary-color-transparent);
}

.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.hidden {
    display: none;
    transition: all 0.5s;
}

.required {
    color: red;
}

section#ptable {
    display: table;
    width: 40%;
    margin-bottom: 2rem;
}
  
section#ptable > * {
    display: table-row;
}
  
section#ptable .col {
    display: table-cell;
}

section#ptable .qinput {
    width: 1.5rem;
}

.currency::before {
    content:"$";
}

.right-text {
  text-align: end;
}

.version {
    font-style: italic;
    font-size: 0.5em;
    padding-top: 2em;
}

.version::before {
    content: "Version: ";
}
